{{#each this}}
 {{#ifCond @index '<' 3}}
      {{#ifCond @index '==' 0}}
            <div class="contGrandeCat col s12 m12 l12">
                  <a href="{{moduloCategoria_index_linkPost this.categorias }}" target="_self" title="">
                      <img src="img/template/{{imgCategoria}}"/>
                      <div class="contCat_fondo_opacity"></div>
                      <div class="contInfoGrandeCat">
                            <h1>{{cat_nombre}}</h1>
                            <p>{{info_cat}}</p>
                            <div class="contVidInfo">
                              <div id="cantidad_videos_{{categoria}}" class="cont_cantidad_vid"></div>
                              <p>Videos</p>
                              <div class="contVidInfo_icon"></div>
                            </div>
                      </div>
                  </a>
            </div>
       {{else}}
            <div class="contChicoCat col s12 m12 l6" style="background:#{{colorFondo}}; ">
                <a href="{{moduloCategoria_index_linkPost this.categorias }}" target="_self" title="">
                    <div class="contInfoChicoCat"  style="color:#{{colorTexto}};">
                          <h1>{{cat_nombre}}</h1>
                          <p>{{info_cat}}</p>
                          <div class="contVidInfo">
                              <div id="cantidad_videos_{{categoria}}" class="cont_cantidad_vid"></div>
                              <p>Videos</p>
                              <div class="contVidInfo_icon" style="background:#{{colorTexto}};"></div>
                          </div>
                    </div>
                </a>
            </div>
       {{/ifCond}}
  {{/ifCond}}
{{/each}}
